################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/__pycache__/*.pyc
.vs/slnx.sqlite
.vs/cv-sandbox
/.vs/config/applicationhost.config
/.vs/VSWorkspaceState.json
/env/*
